.main-content {
  min-width: 375px;
  margin-left: var(--main-content-margin-left);
  transition: 0.3s;
  flex: 1;
  padding: 1rem;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;

  &.horizontal {
    margin-left: 0;
  }

  .content-top {
    position: sticky;
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-top: 0;
    z-index: 1;

    .menu-toggle {
      background-color: var(--light-active);
      color: var(--light-bg);
      visibility: var(--toggle-aside-btn-display);
    }
  }

  .content-area {
    display: grid;
    grid-template-columns: repeat(var(--grid-col-total), minmax(0, 1fr));
    gap: 1rem;
  }
}
