html {
  font-family: Roboto;
}

:root {
  --main-bg: #f4f7fa;
  --light-bg: #ffffff;
  --light-hover-bg: #e6f6fe;
  --light-active: #04a9f5;
  --shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);

  /* responsive */
  --aside-nav-width: 16rem;
  --mobile-backdrop-display: block;
  --aside-nav-translateX: -100%;
  --main-content-margin-left: 0;
  --toggle-aside-btn-display: visible;

  /* grid system */
  --grid-col-total: 12;
  --grid-col-large: span 12;

  /* mobile */
  @media screen and (min-width: 0) {
    --nav-header-text-display: none;
    --grid-col-small: span 12;
    --grid-col-medium: span 12;
  }

  /* tablet */
  @media screen and (min-width: 768px) {
    --nav-header-text-display: none;
    --grid-col-small: span 4;
    --grid-col-medium: span 12;
  }

  /* desktop */
  @media screen and (min-width: 1024px) {
    --aside-nav-translateX: 0;
    --main-content-margin-left: var(--aside-nav-width);
    --mobile-backdrop-display: none;
    --toggle-aside-btn-display: hidden;
    --nav-header-text-display: inline;
    --grid-col-small: span 4;
    --grid-col-medium: span 6;
  }
}

html,
body,
#root,
main {
  height: 100%;
}

.rotate-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 99px;
  z-index: 50;
  background-color: var(--light-active);

  svg {
    color: var(--light-bg);
  }
}

.backdrop {
  display: var(--mobile-backdrop-display);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  z-index: 2;
}
